/**
 * Dark theme variables
 */

:root {
  --base-color: #DBDBDB;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #abcdef;
  --code-color-2: #abcdef;
  --code-color-3: #abcdef;
  --code-color-4: #abcdef;
  --code-color-5: #abcdef;
  --code-color-6: #abcdef;
  --code-color-7: #abcdef;
  --code-color-8: #abcdef;
  --code-color-9: #abcdef;
  --code-color-10: #abcdef;
  --code-color-11: #abcdef;
  --code-color-12: #abcdef;
  --code-color-13: #abcdef;
  --code-color-14: #abcdef;
  --code-color-15: #abcdef;
  --code-color-16: #abcdef;
  --code-color-17: #abcdef;
  --code-color-18: #abcdef;
}
